<!DOCTYPE html>
{%load  static  %}
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body> 
    {% if user.is_authenticated %}
    
    <p style= "float: right" > {{user}} - &nbsp;<button style=" cursor: pointer; float: right; " onclick="window.location.href='/accounts/logout'">logout</button> <br> </p>
    {% else %}
    <button style=" cursor: pointer; float: right; " onclick="window.location.href='/accounts/login'">login</button>
    <br>
    {% endif %}

    
    <div class="header">
        <img src="{% static 'images/sport.jpg' %}" width=1320px alt="logo"/>
    </div>
    <div class="content">
       
        {% block content %}
        {% endblock %}
        <hr size="1" color="LightGrey">
    </div>
    <div class="footer">
        <p>copyright 2023 ISAE-SUPAERO</p>
    </div>
</body>
</html>