<!DOCTYPE html>
<html>
  
<head>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      
      }
      td {
        border-bottom: 1px solid black;
      }
    </style>
</head>
<body>
{% extends 'visualisation/base.html' %}
{% load static %} 






{% block content %}
<h1 style="color:dodgerblue; font-size:100%;" > Tournaments</h1>
<hr size="1" color="LightGrey">
<p style=" font-size:200%;" > Tournaments</p>

<p style="color:dodgerblue; font-size:150%;" > {{ Tournoi.non}}</p>
<table>
    <ul>
    {% for Tournoi in Tournois %}
    <tr><td>
    
        <p style="color:dodgerblue; font-size:150%;" > <a  style="color:dodgerblue;" href="tournoi/{{Tournoi.id}}/">  {{ Tournoi.non}} </a></p>
        <p><strong>Location:</strong> {{ Tournoi.non_lieu}}</p>
        <p><strong>Data:</strong> {{ Tournoi.data_debut }} to {{ Tournoi.data_fin }}</p>
        
    
    </td></tr>
    {% endfor %}
    </ul>
</table>
{% endblock %}


</body>
</html>