<!DOCTYPE html>
<html>
  
<head>
  <style>
    table {
            
      width: 80%;
      
      }
      tr, td {
        border: 1px solid black;
        border-radius: 4px;
      }
      p {
        margin: 5px 0; 
      }
    </style>
    
</head>
<body>
{% extends 'visualisation/base.html' %}
{% load static %} 

{% block content %}
<h1 style="color:dodgerblue; font-size:100%;" > <a  href="../../../../../">Tournaments</a> &raquo; <a  href="../../../">{{tournoi.non}}</a>  &raquo; <a  href="../../{{match.poule.id}}">{{match.poule}}</a> &raquo; {{match.equipe1.non}} vs {{match.equipe2.non}}</h1>
<hr size="1" color="LightGrey">
<p style=" font-size:200%;" > {{match.poule.tournoi.non}}</p>

<table>
  <ul>
    
  
  <tr><td>
      <p style="color:dodgerblue; font-size:150%;" >  0 {{match.equipe1.non}} vs {{match.equipe2.non}} 0 </p>
      <p><strong>Location:</strong> {{match.lieu}}</p>
      <p><strong>Data:</strong> {{ match.date }}</p>
      
  
  </td></tr>
  
  
  </ul>
</table>
<hr size="1" color="LightGrey">
<p><strong>Comments</strong> </p>

<table>
{% for com in comment %}
<tr style = "border-bottom: 1px solid black;"><td style = "border-bottom: 1px solid black;">
  {% if com.author == request.user  %}
  <button style="color:red; cursor: pointer; float: right;" onclick="window.location.href='modif_comment/{{com.id}}'">Modif</button>
  {% endif %}
  <p> <strong>Author:</strong> {{com.author}}:{{com.created_data}}</p> 
  <p> <strong>Comment:</strong> {{com.text}}</p> 
  
</td></tr>  
{% endfor %}

</table>

{% if user.is_authenticated %}
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="cursor: pointer; submit;" >Comment</button>
</form>
{% else %}
<p> Please <a  style="color:dodgerblue;" href="/accounts/login">login</a> to comment this match</p>

{% endif %}




{% endblock %}


</body>
</html>
