<!DOCTYPE html>
<html>
<head>
  <style>
    table { 
            
      width: 80%;
      
      }
      tr, td {
        border: 1px solid black;
        border-radius: 4px;
      }
      p {
        margin: 5px 0; 
      }
    </style>
</head>
<body>
{% extends 'visualisation/base.html' %}

{% block content %}
<h1 style="color:dodgerblue; font-size:100%;" > <a  href="../../../../">Tournaments</a> &raquo; <a  href="../../">{{tournoi.non}}</a>  &raquo; Poule{{numero}}</h1>

<hr size="1" color="LightGrey">
<p style=" font-size:200%;" > {{non}}</p>
<hr size="1" color="LightGrey">
<p style=" font-size:200%;" > Poule{{numero}}</p>
<p style=" font-size:200%;" > Equipes</p>

<table >
    <tr>
        <td><strong style = "color:red">Team name</static> </td>
        <td><strong style = "color:red">Poll points</strong></td>
        <td><strong style = "color:red">Score</strong></td>
        <td><strong style = "color:red">Conceded</strong></td>
      </tr>
    <ul>
      
    {% for equipe in selected_equipe %}

    <tr>
     
        <td>{{equipe}} </td>
        <td>7</td>
        <td>2</td>
        <td>6</td>
      </tr>
    {% endfor %}
    </ul>
</table>

<p style=" font-size:200%;" > Matchs</p>

<table >
  <ul>
    
  {% for match in matchs %} 
  <tr style = "border-bottom: 1px solid black;"><td style = "border-bottom: 1px solid black;">
      <p style="color:dodgerblue; font-size:150%;" > <a  style="color:dodgerblue;" href="../match/{{match.id}}/"> 0 {{match.equipe1.non}} vs {{match.equipe2.non}} 0 </a></p>
      <p><strong>Location:</strong> {{match.lieu}}</p>
      <p><strong>Data:</strong> {{ match.date }}</p>
      
  
  </td ></tr>
  {% endfor %}
  
  </ul>
</table>

{% endblock %}


</body>
</html>