<!DOCTYPE html>
<html>
<head>
  <style>
    table {
            
      width: 80%;
      
      }
      tr, td {
        border: 1px solid black;
        border-radius: 4px;
      }
      p {
        margin: 5px 0; 
      }
    </style>
        
        
       
</head>
<body>
{% extends 'visualisation/base.html' %}

{% block content %}
<h1 style="color:dodgerblue; font-size:100%;" > <a  href="../../">Tournaments</a> &raquo; {{non}}</h1>
<hr size="1" color="LightGrey">
<p style=" font-size:200%;" > {{non}}</p>


<table>
    <ul>
    {% for puole in poules %}
    <tr><td>
    
      
        <p style="color:dodgerblue; font-size:150%;"> Pool <a  style="color:dodgerblue;" href="poule/{{puole.id}}/">  {{puole.numero_poule}} </a></p> 
    
    </td></tr>
    {% endfor %}
    </ul>
</table>
{% endblock %}


</body>
</html>