<!DOCTYPE html>
<html>
<head>
    <style>
        table {
          font-family: arial, sans-serif;
          border-collapse: collapse;
          width: 100%;
        }
        
        td, th {
          border: 1px solid #dddddd;
          text-align: left;
          padding: 8px;
        }
        
        
        </style>
</head>
<body>
{% extends 'visualisation/base.html' %}

{% block content %}
<h1 style="color:dodgerblue; font-size:100%;" > <a  href="../../">Tournaments</a> &raquo; {{non}}</h1>
<hr size="1" color="LightGrey">
<p style=" font-size:200%;" > {{non}}</p>


<table>
    <ul>
    {% for puole in poules %}
    <tr><td>
    
      
        <p style="color:dodgerblue; font-size:150%;"> Pool <a  style="color:dodgerblue;" href="poule/{{puole.id}}/">  {{puole.numero_poule}} </a></p> 
    
    </td></tr>
    {% endfor %}
    </ul>
</table>
{% endblock %}


</body>
</html>